div.comment {
  text-align: left;
}
span {
  display: none;
}
td.glyphInfo {
  vertical-align: middle;
}
a.ucs {
  text-align: right;
  font-size: 28px;
}
a.ucs-iwasaki {
  background-color: gold;
  /* background-color: #FFD7007F; */
}
a.ucs-pjg {
  background-color: gold;
  /* background-color: #FFD7007F; */
}
a.ucs-jiguge5-kyoto {
  background-color: yellow;
  /* background-color: #FFD7007F; */
}
a.ucs-dyc {
  background-color: lightgreen;
  /* background-color: #90EE907F; */
}
a.ucs-qjz {
  background-color: lightblue;
  /* background-color: #ADD8E67F; */
}
a.img-DYC {
  font-size: 8px;
  display: block;
}
td.ucsInfo > a {
  font-family: HanaMinCmptSIP, HanaMinCmptBMP, HanaMinE, HanaMinD, HanaMinC, HanaMinB, HanaMinA;    
}
@media screen {
  span.img-Iwasaki {
    font-size: 8px;
    display: block;
  }
  span.img-PJG {
    font-size: 8px;
    display: block;
  }
  span.img-Jiguge5-Kyoto {
    font-size: 8px;
    display: block;
  }
  span.img-CSJ {
    font-size: 8px;
    display: block;
  }
  span.img-CSJ2 {
    font-size: 8px;
    display: block;
  }
  span.img-CSJ3 {
    font-size: 8px;
    display: block;
  }
  span.img-HTX2 {
    font-size: 8px;
    display: block;
  }
  span.img-DYC {
    font-size: 8px;
    display: block;
  }
  span.img-XZ-QJZ {
    font-size: 8px;
    display: block;
  }
}
@media print {
  @page {
    margin: 0;
  }
  td.ucsInfo > a {
    font-size: 12px;
  }
  span.img-Iwasaki {
    font-size: 4px;
    display: block;
  }
  span.img-PJG {
    font-size: 4px;
    display: block;
  }
  span.img-Jiguge5-Kyoto {
    font-size: 4px;
    display: block;
  }
  span.img-CSJ {
    font-size: 4px;
    display: block;
  }
  span.img-CSJ2 {
    font-size: 4px;
    display: block;
  }
  span.img-CSJ3 {
    font-size: 4px;
    display: block;
  }
  span.img-HTX2 {
    font-size: 4px;
    display: block;
  }
  span.img-DYC {
    font-size: 4px;
    display: block;
  }
  span.img-XZ-QJZ {
    font-size: 4px;
    display: block;
  }
}

tr.xuan-additional > td > span.img-XZ-QJZ.missing {
  display: none;
}
tr.no-glyph-img {
  display: none;
}
th.comment { display: none; }
td.comment { display: none; }
// tr.complete { display: none; }
