  div.navigator-top {
    position: fixed !important;
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
  }
  div.navigator {
    background-color: #E0E0E0;
  }
  div.content {
  }
  td.comment {
    width: 200px;
  }
  tr.with-comment {
    background-color: gray;
  }
